[% META title = 'SCexV Error' %]

<tr>
<td id='tab20100' valign='top'>[% INCLUDE 'File_area.tt2' %]</td><td>

[% FormBuilder.jshead %]

<p>
  An error has occurred.  We're terribly sorry about that, but it's
  one of those things that happens from time to time.
</p>

[% IF back %] <p><a href="[% back %]">Back</a><p><span class="error">[% error %]</span><p><a href="[% back %]">Back</a><p>
[% ELSE %]<span class="error">[% error %]</span>
[% END %]

</td>
